apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "errata-tool-handler-chart.fullname" . }}
  labels:
    {{- include "errata-tool-handler-chart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "errata-tool-handler-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "errata-tool-handler-chart.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "errata-tool-handler-chart.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: {{ .Values.config.kafka.bootstrapServers | quote }}
            - name: SCHEMA_REGISTRY_URL
              value: {{ .Values.config.kafka.schemaRegistryUrl | quote }}
            # Logic: If deploying internal broker, use its service name; otherwise use .Values.umb.host
            - name: UMB_BROKER_HOST
              value: {{ if .Values.amqpBroker.deployInternal -}}
                       {{ include "errata-tool-handler-chart.fullname" . }}-amqp-svc
                     {{- else -}}
                       {{ .Values.umb.host | quote }}
                     {{- end }}
            - name: UMB_BROKER_PORT
              value: {{ .Values.umb.port | quote }}
            - name: SBOMER_CONSUMER_ERRATA_TOPIC
              value: {{ .Values.umb.errataTopic | quote }}
            # Map the Quarkus SSL property
            - name: SBOMER_UMB_SSL
              value: {{ if .Values.amqpBroker.deployInternal -}} "false" {{- else -}} {{ .Values.umb.ssl | quote }} {{- end }}
            # Credentials (TODO use secrets here for prod)
            - name: AMQP_USER
              value: {{ .Values.amqpBroker.user | quote }}
            - name: AMQP_PASSWORD
              value: {{ .Values.amqpBroker.password | quote }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
